@require "./mixin.styl"
@require "./margin.styl"
@require "./colors.styl"

// 清除浮动
.clearfix
  clearfix()

// 字体溢出省略号
.ellipsis
  display inline-block
  vertical-align middle
  text-ellipsis()

// 鼠标滑过可点击图标  
.cursor-pointer
  cursor pointer

.inline-block
  display inline-block
  
.block
  display block
  
.flex
  display flex
  
.flex-align-center
  align-items center
  
.flex-justify-center
  justify-content center

// 容器宽高等边、正方体
.square-box
  square-box()