.color-a
  color $color-a
.color-b
  color $color-b
.color-c
  color $color-c
.color-d
  color $color-d
.color-e
  color $color-e
.color-f
  color $color-f
.color-01
  color $color-01
.color-02
  color $color-02
.color-03
  color $color-03