/*
 * 全局颜色变量定义
 */
// 白色
$color-white = #FFFFFF

// 灰色系变量
$color-01 = #303133
$color-02 = #606266
$color-03 = #909399
$color-04 = #DCDFE6
$color-05 = #E4E7ED
$color-06 = #EBEEF5
$color-07 = #F2F6FC
$color-08 = #F0F2F5
$color-09 = #F5F7FA
$color-10 = #FFFFFF

// 彩色系变量
$color-a = #59629E
$color-b = #7AA5F5
$color-c = #FFCE94
$color-d = #93E6BB
$color-e = #F66464
$color-f = #B2C6CF

// line-color
$color-line = $color-05

// body背景设置
$body-bgcolor = $color-06

// sidebar
// 背景色
$sidebar-bgcolor = $color-white
// 头部Logo字体颜色
$sidebar-header-text-color = $color-01
// sidebar icon 图标颜色
$sidebar-icon-color = $color-f
// sidebar icon active 图标颜色
$sidebar-icon-active-color = $color-a
// sidebar icon 图标颜色
$sidebar-text-color = $color-02
// sidebar icon active 图标颜色
$sidebar-text-active-color = $color-01

// panel
$panel-title-bg-color = $color-09
$panel-bg-color = $color-white
$panel-border-color = $color-line