{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "edge": "17",
          "firefox": "60",
          "chrome": "67",
          "safari": "11.1"
        },
        // 此项也是按需引入polyfill的配置项
        // corejs 替代@babel/polyfill
        "corejs": "2",
        // 设置了此项 在业务逻辑页面可以不引入@babel/polyfill
        // 按需引入polyfill,es6转es5语法，减少体积,
        // 注意: @babel/polyfill 依然需要安装
        "useBuiltIns": "usage"
      }
    ],
    // 能把react代码中浏览器不兼容ES6的语法转化为ES5的插件loader
    "@babel/preset-react"
  ],
  "plugins": [
    // webpack默认是this指向模块本身，通过这个loader可以改变this指向
    "@babel/plugin-syntax-dynamic-import"
    // react-hot-loader在--hot基础上做了额外的处理，来保证状态可以存下来
    // "react-hot-loader/babel"
  ]
}