body, html
  font-family 'Helvetica Neue', 'PingFang SC', 'Arial', 'Microsoft YaHei', '宋体'
  font-size $fontsize-medium
  color $color-01
  height 100%
  background-color $body-bgcolor
  z-index -2
  position relative
#app
  min-height 100%