// 基础样式配置
body, html
  font-family 'Helvetica Neue', 'PingFang SC', 'Arial', 'Microsoft YaHei', '宋体'
  font-size $fontsize-medium
  color $color-01
  background-color $body-bgcolor
  width 100%
  height 100%
.full-screen
  width 100%
  height 100%
