/*Element UI form表单宽度*/
.el-form-item-w-320
  .el-input__inner
    width 320px
.el-form-item-w-280
  .el-input__inner
    width 280px
.el-form-item-w-240
  .el-input__inner
    width 240px
.el-form-item-w-200
  .el-input__inner
    width 200px
.el-form-item-w-160
  .el-input__inner
    width 160px
.el-form-item-w-120
  .el-input__inner
    width 120px
/*End Element UI form表单宽度*/

/*Element UI el-date-picker*/
.el-date-editor
  width auto
  display-flex()
  .el-range-separator
    width auto
  .el-range__close-icon
    color $color-white
  // 行间距解决IE不能垂直居中问题
  &.el-range-editor--mini
    input,.el-range-input
      line-height 20px
  // 背景透明
  &.el-date-picker-transparent
    border none
    background transparent
    color $color-white
    padding-right 0
    .el-icon-date
      color $color-white
    input,.el-range-input
      background transparent
      color $color-white
      font-size $fontsize-medium
    .el-range-separator
      color $color-white
  // End 背景透明
/*End Element UI el-date-picker*/

/*Form 默认表单布局*/
.form-layout
  // 表单组样式
  .form-layout-main
    .el-form-item
      // 增加底边距
      margin-bottom 25px
      // 所有表单宽度100%
      .el-input,.el-select,.el-cascader
        width 100%!important
  // 按钮组样式
  .form-layout-footer
    margin 20px 0 25px
/*End Form 默认表单布局*/

/*Element UI 解决IE因为行间距与高度一致没有减去边框宽度的BUG而表单文本偏下的问题*/
.el-input--medium .el-input__inner
  height 36px
  line-height 34px
.el-input--mini .el-input__inner
  height 28px
  line-height 26px
.el-input--small .el-input__inner
  height 32px
  line-height 30px
/*End Element UI 解决IE因为行间距与高度一致没有减去边框宽度的BUG而表单文本偏下的问题*/
