/* Element UI tag标签在table组件中撑开单元格浏览器兼容性问题修复*/
.el-table
  .el-tag
    max-width 100%
    overflow hidden
    text-overflow ellipsis
    white-space nowrap
/* End Element UI tag标签在table组件中撑开单元格浏览器兼容性问题修复*/