{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "chrome": 67
          // "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
        },
        "corejs": "2",
        "useBuiltIns": "usage"
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": ["@babel/plugin-syntax-dynamic-import"]
}