// 上边距
.margin-top-large
  margin-top $margin-size-large
.margin-top
  margin-top $margin-size// 上边距
.margin-top-small
  margin-top $margin-size-small
// 左边距
.margin-left-large
  margin-left $margin-size-large
.margin-left
  margin-left $margin-size
.margin-left-small
  margin-left $margin-size-small
// 左边距
.margin-right-large
  margin-right $margin-size-large
.margin-right
  margin-right $margin-size
.margin-right-small
  margin-right $margin-size-small
.margin-bottom-none
  margin-bottom 0!important
// 内边距
.padding
  padding $margin-size
.padding-top-large
  padding-top $margin-size-large
.padding-top
  padding-top $margin-size// 上边距
.padding-top-small
  padding-top $margin-size-small
// 左右内边距
.padding-lr
  padding-left $margin-size
  padding-right $margin-size
// 左右内边距
.padding-tb
  padding-top $margin-size
  padding-bottom $margin-size